Flask==1.0.3
torch==1.7.1
torchvision==0.8.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.3
Keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Pillow==8.1.2
tensorflow==2.7.0
urllib3==1.26.3
Werkzeug==1.0.1
wrapt==1.12.1
numpy==1.22.1
